<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory name="">
    <property name="hibernate.connection.driver_class">org.relique.jdbc.csv.CsvDriver</property>
    <property name="hibernate.connection.url">jdbc:relique:csv:/home/thara/Dropbox/fidenz</property>
    <property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
  </session-factory>
</hibernate-configuration>